<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.edavtyan.materialplayer"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="com.edavtyan.materialplayer.App"
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:theme="@style/AppTheme.Standard"
		android:persistent="true"
		>

		<activity
			android:name=".components.main.MainActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="com.edavtyan.materialplayer.app.close" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.prefs.PrefActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.artist_detail.ArtistDetailActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.album_detail.AlbumDetailActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".components.album_detail.AlbumDetailActivityCompact" />

		<activity
			android:name=".components.now_playing.NowPlayingActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.now_playing_queue.NowPlayingQueueActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".components.audioeffects.AudioEffectsActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service
			android:name="com.edavtyan.materialplayer.components.player.PlayerService"
			android:enabled="true"
			/>

		<receiver android:name=".components.player.receivers.AudioMediaButtonReceiver">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
