<!--suppress AndroidDomInspection -->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.edavtyan.materialplayer"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:name="com.edavtyan.materialplayer.App">

		<activity android:name=".testlib.TestActivity" />
		<activity android:name=".lib.base.BaseActivityTest$TestBaseActivity" />
		<activity android:name=".lib.base.BaseToolbarActivityTest$TestBaseToolbarActivity" />
		<activity android:name=".player.effects.AudioEffectsActivityTest$TestAudioEffectsActivity" />
		<activity android:name=".screens.detail.artist_detail.ArtistDetailActivityCompactTest$TestArtistDetailActivityCompact" />
		<activity android:name=".screens.detail.artist_detail.ArtistDetailActivityNormalTest$TestArtistDetailActivityNormal" />
		<activity android:name=".screens.detail.album_detail.AlbumDetailActivityCompactTest$TestAlbumDetailActivityCompact" />
		<activity android:name=".screens.detail.album_detail.AlbumDetailActivityNormalTest$TestAlbumDetailActivityNormal" />
		<activity android:name=".screens.now_playing.NowPlayingActivityTest$TestNowPlayingActivity" />
		<activity android:name=".screens.now_playing.models.NowPlayingViewTest$TestNowPlayingActivity" />
		<activity android:name=".screens.now_playing_queue.NowPlayingQueueActivityTest$TestNowPlayingQueueActivity" />
		<activity android:name=".screens.main.MainActivityTest$TestMainActivity" />
		<service android:name=".player.PlayerServiceTest$TestPlayerService" />

	</application>

</manifest>