<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.edavtyan.materialplayer"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application android:name="com.edavtyan.materialplayer.App">

		<activity
			android:name=".components.artist_mvp.ArtistDetailActivityTest$TestArtistDetailActivity"
			android:launchMode="singleTop"
			>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".components.ParallaxHeaderListActivityTest$TestParallaxHeaderListActivity" />

	</application>

</manifest>